.open-pos-page {
  /* border: 5px solid blue; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 85%;
}
.open-pos-page-header {
  width: 100%;
  padding-left: 100px;
  /* border: 1px solid black; */
}
.open-pos-page-content {
  width: 85%;
  display: block;
}
