* {
  margin: 0px;
  padding: 0px;
}

.root {
  width: 100%;
  height: 100%;
  display: flex;
}

html,
body {
  color: black;
  background-color: #eceff1;
  font-family: Lato, sans-serif;
  width: 100%;
  height: 100%;
  border: 1px solid black;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding-top: 15px;
}
.app-header {
  display: flex;
  width: 100%;
}
